html,
body {
    margin: 0 auto;
    width: 100%;
    background-image: url("../images/starsbackground.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

.container {}

.stat {}

.fighter {
    border: solid;
    border-color: grey;
    border-width: 5px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    transition: all 1s;
    z-index: 1000;
    color: black;
    background-color: white;
}

.title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    color: white;
}

.inline-block {
    display: inline-block;
}

.stat {
    margin-left: 10px;
    font-family: 'PT Sans', sans-serif;
}

button {
    margin: 10px;
}

.bottom-border {
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 3px;
}

.right {
    float: right;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
}

.head-shot {
    height: 150px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

img.weapon {
    height: 50px;
    cursor: pointer;
}

.weapon-container {
    display: inline-block;
    position: absolute;
    top: 200px;
    border: solid grey 3px;
}

.oponent-weapon-container {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
    top: 20px;
    border: solid grey 3px;
}

.modal {
    position: fixed;
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 50%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.modal-content h2 {
    color: black;
}